/* CAROUSEL */
.carousel{
    height: 800px;
}

/* BIG CAROUSEL */
.gallery{
    height: 500px;
}

.gallery img,
.thumbnails img{

    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.gallery img{
    max-width: 500px;
}

.big-carousel{
    position: relative;
}

/* arrows carousel */
#prev,
#next{
    position: absolute;
    top: 250px;
}

#prev{
    left: 360px
}

#next{
    right: 360px;
}


/* LITTLE CAROUSEL */
.thumbnails{
    height: 100px;
}